
/*Icons Size*/
.ion-big{
  font-size: 24px;
}

.ion-mid{
  font-size: 20px;
}

.ion-small{
  font-size: 16px;
}

/*colors*/

.white{
  color: #fff;
}

.gray{
  color: #eee;
}

.dark-gray{
  color:#b5abab;
}

.yellow{
  color:#db922c;
}

.img-responsive{
  height: 300px;
}

